/* put your own styles to customize and override the theme */

.alert {
    border-width: 0 0 0 3px;
    box-shadow: 0 0 0 1px rgba(20, 20, 31, .05), 0 1px 3px 0 rgba(20, 20, 31, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.auth-form .alert {
    text-align: justify;
}

.close {
    line-height: 0.9;
    opacity: .9;
}

.top-bar {
     /* background: #ffffff !important; */
     /*background: #00a28a !important;*/
    background: #002d72 !important;
}


.bootstrap-timepicker-widget table td a{
    background-color: #000;
    border-radius: 10px;
}


.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #002d72;
    border-color: #006254;
}
/* .image-box img{
    width: 500px;
    height: auto;
    overflow: hidden;
} */
/* .auth-announcement{

} */

@media (min-width: 992px) {
    .auth-floated .auth-form {
        max-width: 50%;
        /*margin: auto;
        box-shadow: none;
        background: transparent; */
    }
    .auth-floated .auth-announcement img {
        width: -webkit-fill-available;
        height: -webkit-fill-available;
    }
}

.select2-container--default .select2-selection--single {
    height: 35px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 35px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered{
    line-height: 27px !important;
}
