.profile_info img {
    width: 40px !important;
    height: 40px !important;
}

.header_iner {
    padding: 10px 10px !important;
}

.header_iner .header_right .header_notification_warp li > a {
    width: 35px !important;
    height: 35px !important;
}

/*.nav-link-notify:before {*/
/*    width: 10px !important;*/
/*    height: 10px !important;*/
/*}*/

.nav-link-notify .notification-count{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    border-radius: 50%;
    top: -3px;
    background-color: #ff4409 !important;
    color: white !important;
}

.unread-notification{
    background-color: #efecec !important;
    border-radius: 3px !important;
    padding: 2px;
}

.unread-notification .notification-body{
    text-decoration: underline;
    font-weight: bold !important;
}

.header_iner .header_right .header_notification_warp li > a img {
    width: 12px !important;
}

.sidebar .logo .large_logo img {
    height: 40px !important;
}

.sidebar .logo {
    background: #EFEFEF;
    padding: 10px;
}

.sidebar.mini_sidebar .small_logo img {
    height: 40px !important;
}

.main_content .main_content_iner {
    padding: 10px 10px !important;
}
.sidebar_close_icon i {
    right: 10px !important;
    top: 10px !important;
}

.card_box .white_box_tittle_custom {
    background-color: #fff;
    padding: 10px !important;
    border-bottom: 1px solid #f2f4ff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    overflow: hidden;
}

.bg-silken{
    background-color: #002d72 !important;
}

.list-group-item-figure:last-child {
    padding-left: 1rem;
}

.list-group-item-figure:first-child {
    padding-right: 1rem;
}
.list-group-item-figure {
    display: flex;
    align-items: center;
    color: #a6abbd;
}
.user-avatar {
    position: relative;
    margin-bottom: 0;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    vertical-align: middle;
    border-radius: 4rem;
}
.sidebar.dark_sidebar #sidebar_menu > li ul {
    background: #002d72;
}

.sidebar.dark_sidebar #sidebar_menu > li ul li a.active,
.sidebar #sidebar_menu > li a.active {
    color: #FFFFFF !important;
    background: #28ace2 !important;
    font-weight: bold !important;
}

.sidebar #sidebar_menu > li a.active i {
    color: #FFFFFF !important;
}

.sidebar.mini_sidebar #sidebar_menu > li > a.active {
    width: auto;
}
.sidebar.mini_sidebar #sidebar_menu > li > a.active .nav_title {
    display: none !important;
}
.sidebar.mini_sidebar #sidebar_menu > li > a.active:hover .nav_title {
    display: inline-block !important;
}

.nav_title{
    padding:0 10px 0 0;
}

.page-title-bar {
    position: fixed;
    right: 20px;
    bottom: 30px;
    cursor: pointer;
    z-index: 25;
}

.page-title-bar a {
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
    display: block;
    background: #373063;
    border-radius: 30px;
}

 /*Side bar size small*/
.sidebar.mini_sidebar {
    width: 90px;
    min-width: 90px;
    max-width: 90px;
}
.sidebar.mini_sidebar .logo {
    width: 90px;
}
.sidebar.mini_sidebar #sidebar_menu > li {
    width: 90px;
}
.sidebar.mini_sidebar #sidebar_menu > li > a .nav_icon_small {
    width: 90px;
}
.main_content.full_main_content {
    padding-left: 90px;
}

 /*custom card*/
.c_card-card {
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
}
.c_card-icon {
    font-size: 20px;
    color: #6c757d;
    margin-right: 10px;
}
.c_card-count {
    font-size: 25px;
    font-weight: bold;
    color: #343a40;
}

.fc-event, .fc-event-dot {
    background-color: #002d72 !important;
}

.c_card-title {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}
.line_icon img{
    width: 35px !important;
    height: 35px !important;
}

.dark_sidebar{
    background: #002d72 !important;
}

.sidebar.dark_sidebar .logo {
    background: #fefefe !important;
}

/*Select 2*/
.select2-container .select2-selection--single,
.select2-container .select2-selection--multiple {
    min-height: 38px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    line-height: 26px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 38px !important;
}

td div.d-flex a{
    padding: 2px !important;
}

.pagination-custom{
    overflow-x: scroll !important;
}

thead > tr.bg-silken > th {
    vertical-align: middle !important;
}

.profile_info:hover .profile_info_iner {
    top: 52px !important;
}

.profile_info .profile_info_iner::before {
    top: -12px !important;
    border-color: transparent transparent #fdfdfd transparent !important;
}

.sidebar.mini_sidebar #sidebar_menu > li:hover > a,
.sidebar.mini_sidebar #sidebar_menu > li.mm-active > a {
    width: 265px !important;
}

.sidebar.mini_sidebar #sidebar_menu > li.mm-active ul {
    left: 90px !important;
}
.sidebar.dark_sidebar.mini_sidebar #sidebar_menu > li.mm-active ul {
    width: 175px !important;
}

.sidebar.dark_sidebar.mini_sidebar #sidebar_menu > li ul li a {
    width: 172px !important;
}

/*Profile CSS*/
.profile-image {
    display: block;
    width: 100%;
    height: 100%;

}

.profile-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
}

.container:hover .profile-overlay {
    opacity: 1;
}

.profile-icon {
    color: blue;
    font-size: 40px;
    position: absolute;
    top: 12%;
    left: 75%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.profile-overlay>input {
    display: none;
}

.profile-overlay img {
    width: 80px;
    cursor: pointer;
}

/*Login page*/
/*.auth-floated .auth-announcement{*/
/*    padding: 0 0 0 0 !important;*/
/*}*/
.auth-floated {
    flex-direction: column;
    align-items: stretch;
}

.login-img{
    width:30%;
    height:30%;
    margin:auto;
}

@media (min-width: 992px) {
    .auth-floated .auth-form {
         max-width: 100% !important;
        min-height: 100vh !important;
    }
}

.auth-floated .auth-announcement {
    padding: 10rem 3rem;
}

@media (max-width: 576px) {
    .c_card-count {
        font-size: 18px;
    }
    .c_card-icon {
        font-size: 15px;
    }
    .c_card-title {
        font-size: 16px;
    }
    .fc-toolbar {
        display: block !important;
    }
}
/*CUSTOM FOR PAGINATION*/
@media (max-width: 768px) {
    .page-link {
        padding: 0.3rem .5rem !important;
    }
}

